# ide and macOS finder files
.idea/**
.vscode/**
**/.DS_Store

# exceptions for vs code
!.vscode/spellright.dict

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# go coverage tool output
*.out

# any binary or goreleaser builds
dist/**
test-report

# test data (generated when parser_test.go is run)
testdata/*.json
# any test/sample report (md) in the root
test-report.md
